/* "off-black" color #212529 yellow Zealand logo colour #faee84*/

/*  style="height: 1.8rem; width: 20.8rem"*/

body{
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: #faee84;
	background-color: #222;
	letter-spacing: .5px;
}

.navbar-yellow .navbar-yellowBrand {
	color: #faee84;
  }

.center {
	text-align: center;
}

.right {
	position: absolute;
	font-size: 9px;
	right: 0px;
	width: 300px;
	padding: 10px;
  }

.btn-primary {
	color: #faee84;
	background-color: #222;
	border-color: #222;
  }

.btn-link:hover {
  color: #faee84;
}